<h1>*ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name"> <!--property binding [ngSwitch]-->
  <p *ngSwitchCase="'diego'">
    La persona es diego
  </p>
  <p *ngSwitchCase="'nicolas'">
    La persona es nicolas
  </p>
  <p *ngSwitchCase="'julian'">
    La persona es julian
  </p>
  <p *ngSwitchDefault>Default no match</p>
</div>
<!-- <p *ngIf="person.name ===  'diego'">
  La persona es diego
</p>
<p *ngIf="person.name ===  'nicolas'">
  La persona es nicolas
</p>
<p *ngIf="person.name ===  'julian'">
  La persona es julian
</p> -->
<!------------------------------------------------>
<h1>*ngFor Objects</h1>
<div class="products--grid">
  <div *ngFor= "let product of products">
    <img [src]="product.image" alt="image">
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>
<hr>
<!---------------------------------------------------->
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="listNames.length === 0">NO hay nombres</li>
  <li *ngFor="let item of listNames;  index as i">
    {{i}} {{item}}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<hr>
<!--------------------------------------------------->
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name">
<p *ngIf="person.name === 'nicolas'">Soy nicolas</p>
<p *ngIf="person.name === 'diego' && person.age === 25; else elseBlock">Soy diego</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>
<hr>
<!--------------------------------------------------->
<h1>NgModel [(NgModel)] Data Binding</h1>
<!-- Es la convinacion de Pproperty binding y Event binding -->
<p>Name {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p> Valid name: {{nameInput.valid}}</p> <!-- el estado cambia de forma reactiva en nuestro html -->
<br>
<p> Age: {{person.age}}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age">
<p> Valid Age: {{ageInput.valid}}</p>
<hr>
<br>
<!---------------------------------------------->

<h1>EVENT BINDING (event)</h1>
<button [disabled]="btnDisable"> Enviar</button>
<button (click)="toggleButton()">Desabilitar</button>
<p>Edad {{person.age}}</p>
<button (click)="increaseAge()">Age ++</button>

<div class="box" (scroll)="onScroll($event)">
  <!-- eventos nativos o del DOM $event -->
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore repudiandae vitae consequuntur aliquam tempora
    illo necessitatibus! Est iste labore rem cumque officiis provident, et, odit, atque saepe repudiandae pariatur sint?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas hic est error iure placeat, harum voluptatem
    dolore suscipit minus tenetur porro corrupti corporis autem. Eius sequi iure voluptate quia sapiente!</p>
</div>
<hr />
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<p>Name {{person.name}}</p>
<hr>
<br>
<!---------------------------------------------->
<h1>Property Binding [name] para propiedades</h1>
<button [disabled]="btnDisable"> Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<hr>
<br>

<!---------------------------------------------->
<h1>String Interpolation</h1>
<h2>{{ 'Hola mundo'.repeat(5) }}</h2>
<p>3 +3 = {{ 3 +3}} </p>
<h3> Hola soy, {{ person.name }} y tengo {{ person.age }}</h3>

<img width="200" src="{{ img }}" alt="imagen">
